BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
Cpp11BracedListStyle: true
Standard: c++20
